<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/baidu_zhuanye.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!../common/header.html') %>
        <div class="content">
            百度竞价助手旗舰版
            <br>
            <a href="http://home.cloud.ranknowcn.com/popularize/product_open?product_type=baidu">
                <span class="download_btn">申请试用</span>
            </a>
        </div>
    </div>
    <div class="part_2">
        <p>产品概述</p>
        <div>
            百度竞价旗舰版是Ranknow天亚科创团队开发的一款专门面向百度搜索引擎的竞价推广工具，使用专业的排名计算方式，可以自动据您的关键字信息以及出价信息综合计算,获得适合您的经济实惠的排名方案，使您在保证推广效果的同时，花费更少的费用。同时具有批量调价、循环调词、查看推广实况、数据导出、定时关机、监控文件夹等多项方便客户的强大的功能。旗舰版适合集团客户、教育行业以及医疗行业有大量关键词管理的客户。没有调词数量限制，更加稳定和快速。
        </div>
        <%= require('html-loader!../common/online_customer_content.html') %>
    </div>
    <%= require('html-loader!../common/footer.html') %>
<script>
    $(document).ready(function(){
    });
</script>
</body>
</html>
