<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/baidu_zhuanye.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!../common/header.html') %>
        <div class="content">
            百度快排助手
            <br>
            <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/ziran_paiwei?product_id=6&source=21000024a4498366b9b8000100010000">
                <span class="download_btn">申请试用</span>
            </a>
        </div>
    </div>
    <div class="part_2">
        <p>产品概述</p>
        <div>
            自主设置关键词，通过查询排名情况，优化关键词短语组合，提高搜索效果；费用支出占比不足竞价广告的1%，比竞价广告花销低。在省钱的同时，帮助企业实现关键词在百度搜索引擎中的自然排位优化。
        </div>
        <%= require('html-loader!../common/online_customer_content.html') %>
    </div>
    <%= require('html-loader!../common/footer.html') %>
<script>
    $(document).ready(function(){
    });
</script>
</body>
</html>
