<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天亚科创官方网站</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/baidu_zhuanye.css" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!../common/header.html') %>
        <div class="content">
            排位助手
            <br>
            <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/paiwei_zhushou?product_id=3&source=21000024a4498366b9b8000100010000">
                <span class="download_btn">申请试用</span>
            </a>
        </div>
    </div>
    <div class="part_2">
        <p>产品概述</p>
        <div>
            查询指定关键词排位情况，分析关键词并优化后达到精准定位目的，协助客户树立品牌形象， 通过监控数据，实时反应公司关键词排位状况，便于运营人员及时调整推广策略及推广费用。
        </div>
        <%= require('html-loader!../common/online_customer_content.html') %>
    </div>
    <%= require('html-loader!../common/footer.html') %>
<script>
    $(document).ready(function(){
    });
</script>
</body>
</html>
