<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/baidu_zhuanye.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!../common/header.html') %>
        <div class="content">
            搜狗竞价助手云平台
            <br>
            <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/sogou_tiaoci?product_id=8&source=21000024a4498366b9b8000100010000">
                <span class="download_btn">申请试用</span>
            </a>
        </div>
    </div>
    <div class="part_2">
        <p>产品概述</p>
        <div>
            搜狗云竞价无需下载软件即可操作大量关键词，在搜狗搜索展现贵司服务和产品信息，吸引用户获取服务。 平台操作简单，并可随时监控竞价调词进度，可帮助您随时掌握排名情况，以及对价格进行精准把控。
        </div>
        <%= require('html-loader!../common/online_customer_content.html') %>
    </div>
    <%= require('html-loader!../common/footer.html') %>
<script>
    $(document).ready(function(){
    });
</script>
</body>
</html>
