<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天亚科创官方网站</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/baidu_zhuanye.css" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!../common/header.html') %>
        <div class="content">
            微信活码
            <br>
            <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/huoma?product_id=7&source=21000024a4498366b9b8000100010000">
                <span class="download_btn">申请试用</span>
            </a>
        </div>
    </div>
    <div class="part_2">
        <p>产品概述</p>
        <div>
            微信活码管理，玩转裂变营销新方式。不受扫码次数和人数限制，活码长期有效，便于营销推广活动的顺利无障碍开展，提高用户聚集度和社群运营效率。
        </div>
        <%= require('html-loader!../common/online_customer_content.html') %>
    </div>
    <%= require('html-loader!../common/footer.html') %>
<script>
    $(document).ready(function(){
    });
</script>
</body>
</html>
