
.part_1{
    background: url("http://cdn.ranknowcn.com/img/bg-top-download@3x.jpg");
    background-repeat:no-repeat;
    background-size: 100% 560px;
    background-position:bottom;
    height: 260px;
}

.part_2_title{
    margin-top: 44px;
    text-align: center;
    font-size: 36px;
}
.line{
    text-align: center;
    padding-bottom: 10px;
}
.part_2 >div{
    float: left;
    width: 50%;
    box-sizing: border-box;
    height: 260px;
    margin-top: 60px;

}
.part_2 >div >div{
    -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.06);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.06);
    height: 260px;
}

@media screen and (max-width: 1300px) {
    .part_3_2,.part_3_3{
        padding: 0px 8% 0px 10%;
    }
    .part_2 >div:nth-child(odd){
        padding-right: 3%;
        padding-left: 10%;
    }
    .part_2 >div:nth-child(even){
        padding-left: 3%;
        padding-right: 10%;
    }
}
@media screen and (min-width: 1677px) {
    .part_3_2,.part_3_3{
        padding: 0px 18% 0px 20%;
    }
    .part_2 >div:nth-child(odd){
        padding-right: 3%;
        padding-left: 12%;
    }
    .part_2 >div:nth-child(even){
        padding-left: 3%;
        padding-right: 18%;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1677px) {
    .part_3_2,.part_3_3{
        padding: 0px 18% 0px 20%;
    }
    .part_2 >div:nth-child(odd){
        padding-right: 3%;
        padding-left: 13%;
    }
    .part_2 >div:nth-child(even){
        padding-left: 3%;
        padding-right: 13%;
    }
}

.part_3_left{
    padding-left: 3%;
    padding-right: 18%;
}
.part_3_right{
    padding-right: 3%;
    padding-left: 18%;
}

.part_2_1{
    height: 200px;
}
.part_2_1 >div{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.part_2_1 >div:last-child p:first-child{
    font-size: 36px;
    margin-top: 47px;
}
.part_2_1 >div:last-child p:last-child{
    font-size: 18px;
    margin-top: 4px;
    color: #4a4a4a;
}
.part_2_2 >div:first-child{
    text-align: right;
    padding-right: 20px;
    position: relative;
    top:-10px;
}
.part_2_2 >div:last-child{
    text-align: left;
    padding-left: 20px;
}
.part_2_2{
    clear: both;
}
.part_2_2 >div{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.download_span_btn{
    color: #f65378;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    border:1px solid #f65378;
}




