

.part_1{
    background: url("http://cdn.ranknowcn.com/img/bg-top-buy@3x.jpg");
    background-repeat:no-repeat;
    background-size: 100% 560px;
    background-position:center;
    height: 260px;
}

.part_2{
    width: 800px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
table
{
    border-collapse:collapse;
}
table td{
    text-align: center;
    padding: 10px;
}
table tr td:first-child{
    font-size: 24px;
}



