<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天亚科创官方网站</title>
    <link rel="stylesheet" href="./css/download.css" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!./common/header.html') %>
        <div class="content">
            行业全 覆盖广 案例多
        </div>
    </div>
    <div class="part_2">
        <p class="part_2_title">客户端</p>
        <p class="line"><img src="/img/ico-line-1-d@3x.png" width="82" height="8"></p>
        <div>
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-bdj-200-200@3x.png" width="200" height="200" style="position: relative;top:-10px;left: 10%"></div>
                    <div>
                        <p>百度竞价助手</p>
                        <p>打破传统 收获精准浏览</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div><span class="download_btn"><a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product_open?product_type=baidu">申请试用</a></span></div>
                    <div><a href="http://cdn.ranknowcn.com/updates/files/RankSetup.exe"><span class="download_span_btn">安全下载</span></a></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-sgjzs-200@3x.png" width="111" height="101" style="position: relative;top:40px;left: 30%"></div>
                    <div>
                        <p>搜狗竞价助手</p>
                        <p>搜索  让你找到我</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div><span class="download_btn"><a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product_open?product_type=sogou">申请试用</a></span></div>
                    <div><a href="http://cdn.ranknowcn.com/updates/files/SogouRankSetup.exe"><span class="download_span_btn">安全下载</span></a></div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-360-jzs-200@3x.png" width="112" height="105" style="position: relative;top:40px;left: 25%"></div>
                    <div>
                        <p>360竞价助手</p>
                        <p>360°新鲜体验</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div><span class="download_btn"><a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product_open?product_type=360">申请试用</a></span></div>
                    <div><a href="http://cdn.ranknowcn.com/updates/files/Rank360Setup.exe"><span class="download_span_btn">安全下载</span></a></div>
                </div>
            </div>
        </div>
    </div>

    <div style="clear: both"></div>
    <div class="part_2">
        <p class="part_2_title">云平台产品</p>
        <p class="line"><img src="/img/ico-line-1-d@3x.png" width="82" height="8"></p>
        <div class="part_3_left">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-bdyj-200@3x.png" width="112" height="81" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>百度云竞价</p>
                        <p>创新  突破  安全  稳定
                            <br><br>
                            <a href="http://home.cloud.ranknowcn.com/popularize/product/baidu_tiaoci?product_id=1&source=21000024a4498366b9b8000100010000">
                            <span style="font-size: 14px;color: #000000;text-align: center;padding-top: 10px;width:100%;display: inline-block">
                                详细信息+
                            </span>
                            </a>
                        </p>

                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">

                        <a target="_blank" href="http://sso.cloud.ranknowcn.com/simplesaml/module.php/core/register.php?product_id=1&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_right">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-360-yj-200@3x.png" width="112" height="82" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>360云竞价</p>
                        <p>云端运行 自由自在</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/360_tiaoci?product_id=4&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_left">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-wxyx-200@3x.png" width="111" height="104" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>微信营销平台</p>
                        <p>抓住新机会</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/wx_yingxiao?product_id=2&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_right">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-gwzs-200@3x.png" width="118" height="88" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>关键词排位助手</p>
                        <p>知己知彼 一跃而起</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/paiwei_zhushou?product_id=3&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_left">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-feyzs-200@3x.png" width="114" height="117" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>防恶意助手</p>
                        <p>拦截无效点击  提升预算价值</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/fangeryi?product_id=5&source=21000024a4498366b9b8000100010000">
                             <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_right">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo-pwzs-200@3x.png" width="118" height="88" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>百度快排助手</p>
                        <p>不用组队，同样带你上“位”</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/ziran_paiwei?product_id=6&source=21000024a4498366b9b8000100010000">
                             <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_left">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo_sogouyj.png" width="112" height="81" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>搜狗云竞价</p>
                        <p>便捷 稳定 快速</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/sogou_tiaoci?product_id=8&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="part_3_right">
            <div>
                <div class="part_2_1">
                    <div><img src="/img/logo_wxhm_200.png" width="101" height="90" style="position: relative;top:40px;left: 19%"></div>
                    <div>
                        <p>微信活码</p>
                        <p>玩转裂变营销</p>
                    </div>
                </div>
                <div class="part_2_2">
                    <div></div>
                    <div style="float: right">
                        <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/huoma?product_id=7&source=21000024a4498366b9b8000100010000">
                            <span class="download_btn">申请试用</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;padding-top: 50px"></div>
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>
