<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/index.css?rand=0423" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!./common/header.html') %>
        <div class="content"  style="margin-top: 163px">
            提供多平台营销推广解决方案
        </div>
    </div>
    <div class="part_2">
        <div class="content">
            <div>
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-great-1@3x.png" width="40" height="47"></p>
                <p>10+</p>
                <p>超过10年营销推广经验</p>
            </div>
        </div>
        <div class="content">
            <div>
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-great-2@3x.png" width="40" height="46"></p>
                <p>30000+</p>
                <p>为全行业3w家客户提供服务</p>
            </div>
        </div>
        <div class="content">
            <div>
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-great-3@3x.png" width="49" height="43"></p>
                <p>80%</p>
                <p>医疗+教育行业覆盖率80%以上</p>
            </div>
        </div>
        <div class="content">
            <div>
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-great-4@3x.png" width="46" height="46"></p>
                <p>7x24</p>
                <p>7x24小时专属顾问在线答疑</p>
            </div>
        </div>
    </div>

    <div class="part_3">
        <div class="part_3_1">
            <p>各种工具，任你选择</p>
            <p>客户端，云平台，9款产品为各类用户量身打造</p>
        </div>
        <div class="part_3_2">
            <div class="part_3_2_1">
                <div>
                    <p>百度竞价助手（客户端版）</p>
                    <p class="detail">使用专业的排名计算方式，可以自动据您的关键字信息以及出价信息综合计算,获得适合您的经济实惠的排名方案，使您在保证推广效果的同时，花费更少的费用。同时具有批量调价、循环调词、查看推广实况、数据导出、定时关机、监控文件夹等多项方便客户的强大的功能。</p>
                </div>
                <a target="_blank"  href="http://home.cloud.ranknowcn.com/popularize/product_open?product_type=baidu"><span style="bottom: -124px;" class="download_btn">申请试用</span></a>
            </div>
            <div class="part_3_2_2">
                <img src="http://<%= htmlWebpackPlugin.options.title %>/img/pic_bjzs1.png"/>
            </div>
        </div>
        <div class="part_3_3">
            <div class="part_3_3_1">
                <img src="http://<%= htmlWebpackPlugin.options.title %>/img/pic_bkzs1.png"/>
            </div>
            <div class="part_3_3_2">
                <div>
                    <p>百度快排助手</p>
                    <p>自主设置关键词，通过查询排名情况，优化关键词短语组合，提高搜索效果;费用支出占比不足竞价广告的1%，比竞价广告花销低。在省钱的同时，帮助企业实现关键词在百度搜索引擎中的自然排位优化。</p>
                </div>
                <a target="_blank" href="http://home.cloud.ranknowcn.com/popularize/product/ziran_paiwei?product_id=6&source=21000024a4498366b9b8000100010000"><span style="bottom: -94px;" class="download_btn">申请试用</span></a>
            </div>
        </div>
    </div>
    <div class="part_4">
        <div class="part_4_1">
            <div class="part_4_1_1">
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-360-jzs@3x.png" width="51" height="48">
                    <br/><br/>
                    360竞价助手
                </span>
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-bdyj@3x.png" width="52" height="38">
                    <br/><br/>
                    <span style="position: relative;top:7px">百度云竞价助手</span>
                </span>
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-sgjzs@3x.png" width="50" height="46">
                    <br/><br/>
                    搜狗竞价助手
                </span>
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-feyzs@3x.png" width="47" height="48">
                    <br/><br/>
                    防恶意助手
                </span>
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-pwzs@3x.png" width="50" height="40">
                    <br/><br/>
                    <span style="position: relative;top:7px">排位助手</span>
                </span>
                <span class="title_span">
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/logo-wxyx@3x.png" width="46" height="44">
                    <br/><br/>
                    <span style="position: relative;top:2px">微信营销</span>
                </span>
            </div>
            <div class="part_4_1_2">
                在营销推广中
            </div>
            <div class="part_4_1_3">
                您是否还在因下面的问题而困扰
            </div>
            <div class="part_4_1_4">
                <div class="part_4_content_1">
                    <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-pro-1@3x.png" width="160" height="160"></p>
                    <p>数据统计繁琐</p>
                    <p>推广平台及账户太多，且需跨平台统计，导致数据统计耗费时间太长，影响团队后续的数据分析工作。</p>
                </div>
                <div class="part_4_content_2">
                    <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-pro-2@3x.png" width="160" height="160"></p>
                    <p>成本消耗快</p>
                    <p>人工管理出价，无法有效的预防营销成本的浪费，推广效率也相对低下。</p>
                </div>
                <img class="part_4_content_wenhao" src="http://<%= htmlWebpackPlugin.options.title %>/img/bg_mid_wenhao.png" width="110" height="110">
                <div class="part_4_content_3">
                    <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-pro-3@3x.png" width="160" height="160"></p>
                    <p>目标群体不明确</p>
                    <p>业务员、同行、非精准客户，每天都点击您的推广，却一直没有屏蔽。</p>
                </div>
                <div class="part_4_content_4">
                    <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-pro-4@3x.png" width="160" height="160"></p>
                    <p>推广账号多</p>
                    <p>不同推广账号需要单独登录操作管理关键词，账号密码容易混淆，关键词操作也不便利。</p>
                </div>
                <div class="part_4_content_5">
                    <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-pro-5@3x.png" width="160" height="160"></p>
                    <p>没有接触过营销推广</p>
                    <p>公司刚起步运营，还没有组建专业的营销推广团队，不知道如何把自己的产品推广出去。</p>
                </div>
            </div>
            <div class="part_4_1_5">
                您需要的，我们正好就有
            </div>
            <div class="part_4_1_6">
                深耕企业推广营销领域，提供灵活、完整的营销推广解决方案
            </div>
        </div>
        <div class="part_5">
            <div class="part_5_sub ">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-1@3x.png" width="60" height="44"></p>
                <p>云端运行</p>
                <p><span>云平台产品，支持云端自动运行，不受时间和设备的限制，随时登录，随时查看。</span></p>
            </div>
            <div class="part_5_sub" style="position: relative;top:-12px">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-2@3x.png" width="57" height="60"></p>
                <p>智能数据报表</p>
                <p><span>调词结束后自动生成调词报表，通过报表让您快速了解本次关键词优化情况。</span></p>
            </div>
            <div class="part_5_sub ">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-3@3x.png" width="60" height="60"></p>
                <p>多账号管理</p>
                <p><span>支持同时管理多个推广账号，让关键词管理变得更加简便、更加高效</span></p>
            </div>
            <div class="part_5_sub">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-4@3x.png" width="60" height="48"></p>
                <p>微信生态营销</p>
                <p><span>提供微信公众号、小程序、个人号推广解决方案，帮您提示竞争力，品牌影响力</span></p>
            </div>
            <div class="part_5_sub " style="position: relative;top:12px">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-5@3x.png" width="60" height="28"></p>
                <p>循环调词</p>
                <p><span>降低人工操作频率，优化排名情况，提高产品服务曝光量，吸引更多用户浏览</span></p>
            </div>
            <div class="part_5_sub">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-6@3x.png" width="55" height="60"></p>
                <p>自然排位帮手</p>
                <p><span>通过自然排位助手监控关键词的自然排位情况，让您的优化方案有据可依</span></p>
            </div>
            <div class="part_5_sub " style="position: relative;top:12px">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-7@3x.png" width="60" height="49"></p>
                <p>多平台产品</p>
                <p><span>支持国内主流搜索引擎，云端网页版、PC客户端，给您多样性的选择，提升性价比</span></p>
            </div>
            <div class="part_5_sub">
                <p><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-work-8@3x.png" width="59" height="60"></p>
                <p>防恶意点击</p>
                <p><span>预防通过恶意点击消耗推广预算的情况，一次预防，始终有效，让推广费用发挥最大作用</span></p>
            </div>
        </div>

        <div class="part_6">
            <div class="part_6_1">
                <div>Ranknow，让推广营销更省心</div>
                <span><a target="_blank" href="/download.html"><span class="part_6_1_span">申请试用</span></a></span>
            </div>
            <div class="part_6_2">
                <div  class="part_6_2_1">
                    合作企业
                </div>
                <div class="part_6_2_2">
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
<!--                    <span><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico_pro1.png"/></span>-->
                    <img src="http://<%= htmlWebpackPlugin.options.title %>/img/partner_logo_02.jpg" style="width: 100%"/>
                    <div class="baidu_logo">
                        <img src="http://<%= htmlWebpackPlugin.options.title %>/img/baidu-logo@3x.png" width="105px" height="31px">
                        <span>百度数字营销合作伙伴</span>
                    </div>
                </div>
                <div class="part_6_2_3">
                    <div class="part_6_2_3_contract">
                        <p class="part_6_2_3_contract_intro">留下你的联系方式<br>获取专业的推广解决方案</p>
                        <p class="part_6_2_3_contract_form">姓名：&nbsp;&nbsp;<input type="text" id="name"/></p>
                        <p class="part_6_2_3_contract_form">公司：&nbsp;&nbsp;<input type="text" id="company"/></p>
                        <p class="part_6_2_3_contract_form">职位：&nbsp;&nbsp;<input type="text" id="position"/></p>
                        <p class="part_6_2_3_contract_form">电话：&nbsp;&nbsp;<input type="text" id="phone"/></p>
                        <p class="part_6_2_3_contract_submit"><span id="leave_msg_btn">提交</span></p>
                    </div>
                    <div class="part_6_2_3_phone">
                        <span>客服热线</span>
                        <span class="second_span">86-10-85711266</span>
                        <span class="third_span">在线客服</span>
                        <a href="http://sighttp.qq.com/authd?IDKEY=0fde17a3252a1c85964aeb46090fcdfe78638fd6c40780fd"><span>立即交谈</span></a>
                    </div>
                </div>
            </div>
        </div>
        <%= require('html-loader!./common/footer.html') %>
<script>
    $(document).ready(function(){
        $("#leave_msg_btn").click(function(){
            if($("#name").val() == ""){
                alert("姓名必须填写！");
                return;
            }
            if($("#company").val() == ""){
                alert("公司必须填写！");
                return;
            }
            if($("#phone").val() == ""){
                alert("电话必须填写！");
                return;
            }
            $.post("http://home.cloud.ranknowcn.com/popularize/save_leave_msg",
                {
                    name:$("#name").val(),
                    company:$("#company").val(),
                    position:$("#position").val(),
                    phone:$("#phone").val(),
                },
                function(data,status){

                });
            alert("提交成功，我们会尽快和您联系");
        });

        $(".product_service_btn").mouseover(function () {
            $(".product_service").show();
        });
        $(".product_service_btn").mouseout(function () {
            $(".product_service").hide();
        });
        $(".product_service").mouseover(function () {
            $(".product_service").show();
        });
        $(".product_service").mouseout(function () {
            $(".product_service").hide();
        });
    });
</script>
</body>
</html>
