<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/price.css?rand=0422" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!./common/header.html') %>
        <div class="content">
            行业全 覆盖广 案例多
        </div>
    </div>
    <div class="part_2">
        <p class="part_2_title">百度竞价助手</p>
        <p class="line"><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-line-1-b@3x.png" width="82" height="8"></p>
        <div class="price_list">
            <div class="bg">
                <p>云平台</p>
                <p><span>300</span><span>元/月</span></p>
                <p>买1年免2个月</p>
                <p><span>适合账户词数3000词以内的推广账户，操作灵活，使用方便</span></p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>专业版</p>
                <p><span>5000</span><span>元/年</span></p>
                <p>支持按年支付</p>
                <!--<p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="download_btn">立即购买</span></a></p>-->
                <p><span>适合账户词数3000词以上的教育、旅游、金融、医疗等行业客户</span></p>
                <p><a href="http://sighttp.qq.com/authd?IDKEY=0fde17a3252a1c85964aeb46090fcdfe78638fd6c40780fd"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>旗舰版</p>
                <p><span>8000</span><span>元/年</span></p>
                <p>支持按年支付</p>
                <p><span>适合调词量大，词数在2万以上的教育、医疗等需要关键词精细化运营的集团客户</span></p>
                <p><a href="http://http://sighttp.qq.com/authd?IDKEY=0fde17a3252a1c85964aeb46090fcdfe78638fd6c40780fd"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="detail_doc">
            <span>获取版本对比详细文档</span>
            <span><a href="/price_detail_baidu.html" target="_blank">立即查看</a></span>
        </div>
    </div>

    <div class="part_2">
        <p class="part_2_title">360竞价助手</p>
        <p class="line"><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-line-1-b@3x.png" width="82" height="8"></p>
        <div class="price_list">
            <div class="bg">
                <p>云平台</p>
                <p><span>200</span><span>元/月</span></p>
                <p>买1年免2个月</p>
                <p><span>适合账户词数3000词以内的推广账户，操作灵活，使用方便</span></p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div >
        <div class="price_list">
            <div class="bg">
                <p>专业版</p>
                <p><span>3000</span><span>元/年</span></p>
                <p>按年支付</p>
                <p><span>无词数限制，适合教育、旅游、金融、医疗等行业需要关键词精细化运营的客户</span></p>
                <p><a href="http://sighttp.qq.com/authd?IDKEY=0fde17a3252a1c85964aeb46090fcdfe78638fd6c40780fd"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="detail_doc">
            <span>获取版本对比详细文档</span>
            <span><a href="/price_detail_360.html" target="_blank">立即查看</a></span>
        </div>
    </div>

    <div class="part_2">
        <p class="part_2_title">搜狗竞价助手</p>
        <p class="line"><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-line-1-b@3x.png" width="82" height="8"></p>
        <div class="price_list">
            <div class="bg">
                <p>云平台</p>
                <p><span>200</span><span>元/月</span></p>
                <p>买1年免2个月</p>
                <p><span>适合账户词数3000词以内的推广账户，操作灵活，使用方便</span></p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div >
        <div class="price_list">
            <div class="bg">
                <p>专业版</p>
                <p><span>3000</span><span>元/年</span></p>
                <p>按年支付</p>
                <p><span>无词数限制，适合教育、旅游、金融、医疗等行业需要关键词精细化运营的客户</span></p>
                <p><a href="http://sighttp.qq.com/authd?IDKEY=0fde17a3252a1c85964aeb46090fcdfe78638fd6c40780fd"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="detail_doc">
            <span>获取版本对比详细文档</span>
            <span><a href="/price_detail_sogou.html" target="_blank">立即查看</a></span>
        </div>
    </div>

    <div class="part_2">
        <p class="part_2_title">其它产品</p>
        <p class="line"><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-line-1-b@3x.png" width="82" height="8"></p>
<!--        <div class="price_list">-->
<!--            <div class="bg">-->
<!--                <p>搜狗竞价助手</p>-->
<!--                <p><span>3000</span><span>元/年</span></p>-->
<!--                <p>按年支付</p>-->
<!--                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>-->
<!--            </div>-->
<!--        </div>-->
        <div class="price_list">
            <div class="bg">
                <p>微信营销平台</p>
                <p><span>2000</span><span>元/年</span></p>
                <p>支持按月支付</p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>排位助手</p>
                <p><span>2000</span><span>元/年</span></p>
                <p>按年支付</p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>防恶意助手</p>
                <p><span>2000</span><span>元/年</span></p>
                <p>按年支付</p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>百度快排助手</p>
                <p><span>2000</span><span>元/100词包/月</span></p>
                <p>支持按月支付</p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
        <div class="price_list">
            <div class="bg">
                <p>活码</p>
                <p><span>1200</span><span>元/年</span></p>
                <p>按年支付</p>
                <p><a href="http://home.cloud.ranknowcn.com/account/manage_index"><span class="buy_btn">立即购买</span></a></p>
            </div>
        </div>
    </div>
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>
