<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/price_detail_baidu.css?rand=0422" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!./common/header.html') %>
        <div class="content">
            行业全 覆盖广 案例多
        </div>
    </div>
    <div class="part_2">
        <table width="800" border="1" cellspacing="1" cellpadding="0">
        <tr><td colspan="4" style="font-size: 36px;background: #4c74ec;color: white">百度竞价助手版本对比</td></tr>
            <tr>
                <td>功能列表</td>
                <td>云平台</td>
                <td>专业版</td>
                <td>旗舰版</td>
            </tr>
            <tr>
                <td>价格（单个推广账号）</td>
                <td>300元/月<br>3000元/年</td>
                <td>5000元/年</td>
                <td>8000元/年</td>
            </tr>
            <tr>
                <td>智能出价</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>排名查询</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>预设调词设置</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>出价监控</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>循环调词</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>多账号管理</td>
                <td>√支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>云端运行</td>
                <td>√支持</td>
                <td>×不支持</td>
                <td>×不支持</td>
            </tr>
            <tr>
                <td>统计报表</td>
                <td>×不支持</td>
                <td>√支持</td>
                <td>√支持</td>
            </tr>
            <tr>
                <td>客户端</td>
                <td>免安装</td>
                <td>需安装</td>
                <td>需安装</td>
            </tr>
            <tr>
                <td>免费赠送配额</td>
                <td>10000/天</td>
                <td>35000/天</td>
                <td>50000/天</td>
            </tr>
            <tr>
                <td>单任务调词数</td>
                <td>1500词</td>
                <td>2000词</td>
                <td>不限</td>
            </tr>
            <tr>
                <td>并发任务数</td>
                <td>5个</td>
                <td>5个</td>
                <td>不限</td>
            </tr>
            <tr>
                <td>调词最大线程数</td>
                <td>10</td>
                <td>30</td>
                <td>50</td>
            </tr>
            <tr>
                <td>适合客户</td>
                <td>中小企业</td>
                <td>集团客户、中小企业</td>
                <td>教育类、医疗类企业</td>
            </tr>
            <tr>
                <td>试用天数</td>
                <td>3天</td>
                <td>3天</td>
                <td>7天</td>
            </tr>
        </table>
    </div>
</body>
</html>
