<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RankNow 百度推广排位助手 360调价软件 搜狗竞价助手</title>
    <meta name="keywords" content="百度竞价助手 搜狗竞价助手 SEM工具 自动竞价工具"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/question.css?rand=0425" />
    <link rel="stylesheet" href="http://<%= htmlWebpackPlugin.options.title %>/css/common.css?rand=0422" />
    <script src="http://<%= htmlWebpackPlugin.options.title %>/js/jquery.min.js"></script>
</head>
<body>
    <div class="part_1">
        <%= require('html-loader!./common/header.html') %>
        <div class="content">
            行业全 覆盖广 案例多
        </div>
    </div>
    <div class="part_2">
        <p class="part_2_title">常见问题</p>
        <p class="line-1-us"><img src="http://<%= htmlWebpackPlugin.options.title %>/img/ico-line-1-help@3x.png" width="82" height="8"></p>
    </div>
    <div class="part_3">
        <div class="part_3_title">Q1.  我购买了PC版的竞价软件，可以直接使用云平台的竞价工具吗？</div>
        <div class="part_3_answer">A1：  不可以。PC版和云平台需要单独购买。</div>

        <div class="part_3_title">Q2.  云平台和PC端有什么区别？</div>
        <div class="part_3_answer">A2：  云平台主要针对调词需求量不是特别大的企业，使用云平台可以快捷、方便的随时随地调词；PC端则适合频繁操作、调词量较大的企业，词量不限制。</div>

        <div class="part_3_title">Q3.  我有多个推广账号，可以同时登录吗？</div>
        <div class="part_3_answer">A3：  可以。在云平台上您可以同时绑定多个推广账号；在PC客户端，你可以通过同时打开多个客户端分别登录不同的推广账号。</div>

        <div class="part_3_title">Q4.  怎么提高关键词排名？</div>
        <div class="part_3_answer">A4：  可以通过两种方式，一种是付费的SEM，一种是免费的SEO。</div>

        <div class="part_3_title">Q5.  除了百度，我们公司还在搜狗、360等搜索引擎上有推广需求，你们这边都支持吗？</div>
        <div class="part_3_answer">A5：  支持。我们公司能够提供全方位的营销推广解决方案，让您的需求能够一步到位解决。</div>

        <div class="part_3_title">Q6.  我们公司目前没有太多的推广预算，能够使用你们的服务吗？</div>
        <div class="part_3_answer">A6：  在公司推广预算不充裕的情况下，您可以选择我们的“自然排位助手“服务，能够有效的帮您监控、查询关键词的排名情况。</div>

        <div class="part_3_title">Q7.  云平台和PC端的登录账号是一样的吗？</div>
        <div class="part_3_answer">A7：  不一样。PC端竞价软件您购买成功后，使用推广账号登录即可；云平台则需要通过官网注册入口进行注册，注册成功后登录云后台，绑定对应的推广账号后方可使用。</div>
    </div>
    <%= require('html-loader!./common/footer.html') %>
</body>
</html>
